name: Node.js Package

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - run: bun install --frozen-lockfile
      - run: bun test

  publish-npm:
    environment: npm-publish
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
          registry-url: https://registry.npmjs.org/
      - run: bun install --frozen-lockfile
      - run: bun pm pack --filename everyprotocol-every-cli.tgz
      - run: npm publish ./everyprotocol-every-cli.tgz --provenance
